.user-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-info > div {
  border-bottom: 1px solid black;
  padding: 20px 0;
}

.daily-statistics {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10px);
  grid-template-rows: repeat(7, 10px);
  grid-gap: 1px;
  height: 78px;
  grid-auto-flow: column;
  background-color: black;
  padding: 1px;
  width: fit-content;
}

.daily-statistics div {
  background-color: silver;
}

.daily-statistics div.empty {
  background-color: white;
}

.daily-statistics div.solved1 {
  background-color: #0f0;
}

.daily-statistics div.solved2 {
  background-color: #0b0;
}

.daily-statistics div.solved3 {
  background-color: #090;
}

.daily-statistics div.solved4 {
  background-color: #060;
}

.daily-statistics div.solved5 {
  background-color: #a60;
}

.daily-statistics div.solved6 {
  background-color: #a00;
}

fieldset {
  border: 0;
}

.country-links {
  margin: 20px 0;
}

.country-links h3 {
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: normal;
}

.country-links-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.country-link {
  display: inline-block;
  padding: 10px 20px;
  background: #00a;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid blue;
  font-size: 0.95em;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.country-link:hover {
  background: blue;
}
